<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a style="width: 250px;padding-left: 70px !important;height:60px;line-height:60px;padding: 0px;" class="navbar-brand navlink" href="<%= root_url %>">DynamicGrapher</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a class="navlink" href="<%= function_path %>" style="width:80%;float:left;">Functions</a>
				</li>
				<li>
					<a class="navlink" href="<%= parametric_path %>" style="width:80%;float:left;">Parametric</a>
				</li>
				<li>
					<a class="navlink" href="<%= ode_path %>" style="width:75%;float:left;">ODEs</a>
				</li>
				<li>
					<a class="navlink" href="<%= odesystem_path %>" style="float:left;">ODE System</a>
				</li>
				<li>
					<a class="navlink" href="<%= about_path %>" style="float:left;">About</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>