<% view_title "Standard Functions" %>
<% content_for :grapher do %>

	<%= javascript_include_tag "functions/calc" %>
	<%= javascript_include_tag "functions/jsgcalc" %>
	<%= javascript_include_tag "functions/jsgui" %>
	<%= javascript_include_tag "functions/dg_function" %>

	<%= render partial: "shared/toolbar", locals: { page: 'function' } %>

	<div id="sidewrapper">
		<div id="graph_sidebar">
			<div id="buttonbar" style="margin-top:25px;">
				<a class="fancybutton" href="javascript:void(0)" onclick="jsgui.evaluate()">Evaluate</a>
				<a class="fancybutton" href="javascript:void(0)" onclick="jsgui.addInput()">+</a>
				<a class="fancybutton" href="javascript:void(0)" onclick="clearLsCache('function')">Clear Cache</a>
				<a class="fancybutton greybutton" href="javascript:void(0)" id="settings_button" onclick="$('#settings').toggle(400)">
					<img src='assets/settings.png' alt='Settings' />
				</a><br /><br />
			</div>

			<div id="settings">
				<div id="angle_select" class="options_list">
					<a href="javascript:void(0)" onclick="jsgui.setAngles('degrees')" id="angle_select_degrees" class="option">DEG</a>
					<a href="javascript:void(0)" onclick="jsgui.setAngles('radians')" id="angle_select_radians" class="option option_selected">RAD</a>
					<a href="javascript:void(0)" onclick="jsgui.setAngles('gradians')" id="angle_select_gradians" class="option">GRAD</a>
				</div>

				<div id="gridlines_select" class="options_list">Gridlines:
					<a href="javascript:void(0)" onclick="jsgui.setGridlines('normal')" id="gridlines_select_normal" class="option option_selected">NORMAL</a>
					<a href="javascript:void(0)" onclick="jsgui.setGridlines('less')" id="gridlines_select_less" class="option">LESS</a>
					<a href="javascript:void(0)" onclick="jsgui.setGridlines('off')" id="gridlines_select_off" class="option">OFF</a>
				</div>

				<div id="quality_select" class="options_list">Precision:
					<a href="javascript:void(0)" onclick="jsgui.setQuality(0.1)" id="quality_select_01" class="option">LOW</a>
					<a href="javascript:void(0)" onclick="jsgui.setQuality(0.5)" id="quality_select_05" class="option">MED</a>
					<a href="javascript:void(0)" onclick="jsgui.setQuality(1)" id="quality_select_1" class="option">HIGH</a>
					<a href="javascript:void(0)" onclick="jsgui.setQuality(5)" id="quality_select_5" class="option option_selected">ULTRA</a>
				</div>
			</div>
			<input type="hidden" value="" id="colorpickervalue" onchange="updateFunctionColor()" />
			<div id="graph_inputs" style="height:200px;border-bottom:1px solid #AAA;"></div>
			<div id="graph_parameters" style="height:200px;margin:5px;">
				<%= render partial: "shared/parameters" %>
			</div>
		</div>
	</div>

<% end %>